extends layout

block content
    .inner
        h2= title
        .map
            .autocomplete
                input.autocomplete__input(type="text" placeholder="Search here on the map" name="geolocate")
            #map
                p Loading Map...